/* Application wide styles */




* {
    -fx-couleur1 : #2A2E37;
    -fx-couleur2 : #FFFF8D;
    -fx-couleur3: #B2B2B2;

}

.root {
    -fx-background-image: url("/resources/images/abc.jpg");
}

.buttonCo {
    -fx-border-color: -fx-couleur2;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: -fx-couleur1;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-couleur3;
}


.button :hover {
    -fx-border-color : -fx-couleur2;
    -fx-background-color: -fx-couleur2;
    -fx-text-fill: -fx-couleur1;
}


#aa{
    -fx-text-fill: #000000;


    -fx-font-size: 20px;

}
.hyperlink:{
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
}

.VBox{ -fx-border-color: #2A2E37;}


.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
label{
    -fx-background-color:#B2B2B2;
}
.text-field{
   -fx-font-family: "Quicksand";
   -fx-font-size: 18;
   -fx-padding: 1,1,1,1;
   -fx-border-color: grey;
   -fx-border-width: 2;
   -fx-border-radius: 1;
   -fx-border: gone;
   -fx-background-color: transparent;
   -fx-text-fill: black;
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.menue{
-fx-text-fill: #4F6168;
-fx-font-weight: bold;
-fx-font-size: 17px;

}

.divelm{

-fx-text-fill: #4F6168;
-fx-font-weight: bold;
-fx-font-size: 20px;

}
#borderPane{

-fx-background-image: url("../images/fondEcran.jpg");
}
#borderPaneRecipe{
    -fx-background-image: url("../images/llll.jpg");
}

#borderPaneHistory{
    -fx-background-image: url("../images/FondHistorique.jpg");

}
